.menu-ul{
    margin: 10px 160px 10px 10px;
    display: inline;
    align-items: center;
  }
  .menu-ul li{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    display: inline-block;
    padding: 10px 0px 0px 180px;
    align-items: center;
  }

  .a-menu{
    text-decoration: none;
    color: white;
    align-items: center;
  }

  .button1 {
    border:none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: solid black;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#ffe600;
    border-radius: 20px 20px 20px 20px;
    font-family: Quicksand;
    font-weight: bolder;
  }

  .login {
    color: #ffe600;
    font-family: monospace;
    text-align: center;
    padding: 25px 25px 25px 25px;
  }
  p{
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
  }
  .search-box{
    border: 1px solid white;
    border-radius: 25px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 10px 100px 10px 250px;
  }
  .search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 10px 10px 10px 20px;
    text-align: left;

  }
  i{
    font-size: 10px;
    margin: 10px 10px  10px 10px;
  }
button{
  background: transparent;
  border: none;
  outline: none;
}
.search-box2{
  border: 1px solid #ffe600;
  border-radius: 20px;
  background: #ffe600;
  width: max-content;
  display: inline-block;
  margin:10px 150px 10px 250px ;
}
.pass{
  color: rgb(202, 202, 202);
  font-size: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
} 
.button2{
    border:none;
    color: black;
    padding: 10px 120px 10px 120px;
    text-align: left;
    text-decoration: solid black;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#ffe600;
    border-radius: 20px 20px 20px 20px;
    font-family: Quicksand;
    font-weight: bolder;

}
.search-box3{
  border: 1px solid white;
  border-radius: 20px;
  background:white;
  width: max-content;
  display: inline-block;
  margin:20px 10px 1px 125px;
}
.icon-img{
  margin: 3px -8px -2px 7px;
}
.button3{
  border:none;
  color: black;
  padding: 1px 75px 1px 75px;
  text-align-last: auto;
  text-decoration: solid black;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:white;
  border-radius: 20px 20px 20px 20px;
  font-family: Quicksand;
  font-weight: bolder;
}
.search-box4{
  border: 1px solid white;
  border-radius: 20px;
  background:white;
  width: max-content;
  display: inline-block;
  margin:1px 100px 1px 100px;
}
.button4{
  border:none;
  color: black;
  padding:1px 60px 1px 75px;
  text-align-last: auto;
  text-decoration: solid black;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color:white;
  border-radius: 20px 20px 20px 20px;
  font-family: Quicksand;
  font-weight: bolder;
}
.pass1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(202, 202, 202);
  font-size: 16px;
  padding: 10px 0px 0px 100px ;

}
